{% extends 'base.html.twig' %}

{% block title %}Accueil | Travel Stars{% endblock %}

{% block body %}

    


    <div class="w-full h-48 md:h-[500px] shadow">
        <img src="{{ asset('assets/img/banniere.jpg') }}" alt="logo" class="h-full w-full">
    </div>

<div class="flex flex-col m-h-[62.5vh] w-full items-center px-4 mt-5">
    <div class = "flex flex-col gap-5 items-center w-full sm:flex-row flex-wrap sm:justify-evenly md:flex-col">
    
            <div class=" h-auto bg-white border-gray-200 rounded-2xl shadow-2xl w-9/12 sm:w-8/12 sm:h-[450px] md:hidden hover:sm:bg-gray-100">
                <a href="{{ path('articles_namibie') }}">
                <img class="rounded-t-xl w-full sm:h-1/2" src="{{ asset('assets/img/namibie/coucher_soleil_savane.jpg') }}" alt="" />
                <div class="p-5 sm:h-1/2">
                    <h5 class="mb-2 text-lg font-medium tracking-tight text-gray-900">Voyage en Namibie</h5>
                </div>
                </a>
            </div>
            <a href="{{ path('articles_namibie') }}" class="hidden items-center bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 md:flex w-11/12 h-64 xl:w-8/12">
                <img class="object-cover w-full rounded-t-lg h-full md:w-1/3 md:rounded-none md:rounded-l-lg" src="{{ asset('assets/img/namibie/coucher_soleil_savane.jpg') }}" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal md:w-2/3">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Voyage en Namibie</h5>
                </div>
            </a>

            <div class=" h-auto bg-white border-gray-200 rounded-2xl shadow-2xl w-9/12 sm:w-8/12 sm:h-[450px] md:hidden hover:sm:bg-gray-100">
                <a href="{{ path('articles_australie') }}">
                <img class="rounded-t-xl w-full sm:h-1/2" src="{{ asset('assets/img/australie/kangourou.jpg') }}" alt="" />
                <div class="p-5 sm:h-1/2">
                    <h5 class="mb-2 text-lg font-medium tracking-tight text-gray-900">Voyage en Australie</h5>
                </div>
                </a>
            </div> 
            <a href="{{ path('articles_australie') }}" class="hidden items-center bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 md:flex w-11/12 h-64 xl:w-8/12">
                <img class="object-cover w-full rounded-t-lg h-full md:w-1/3 md:rounded-none md:rounded-l-lg" src="{{ asset('assets/img/australie/kangourou.jpg') }}" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal md:w-2/3">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Voyage en Australie</h5>
                </div>
            </a>

            <div class=" h-auto bg-white border-gray-200 rounded-2xl shadow-2xl w-9/12 sm:w-8/12 sm:h-[450px] md:hidden hover:sm:bg-gray-100">
                <a href="{{ path('articles_japon') }}">
                <img class="rounded-t-xl w-full sm:h-1/2" src="{{ asset('assets/img/japon/mont-fuji.jpg') }}" alt="" />
                <div class="p-5 sm:h-1/2">
                    <h5 class="mb-2 text-lg font-medium tracking-tight text-gray-900">Voyage au Japon</h5>
                </div>
                </a>
            </div> 
            <a href="{{ path('articles_japon') }}" class="hidden items-center bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 md:flex w-11/12 h-64 xl:w-8/12">
                <img class="object-cover w-full rounded-t-lg h-full md:w-1/3 md:rounded-none md:rounded-l-lg" src="{{ asset('assets/img/japon/mont-fuji.jpg') }}" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal md:w-2/3">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Voyage au Japon</h5>
                </div>
            </a>
    </div>
</div>


{% endblock %}
