{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block body %}

    <div class="flex flex-col w-full min-h-[62.5vh] mb-8">
        <div class="w-full h-64 md:h-72 lg:h-96 xl:h-[450px]">
            <img class="h-full w-full" src="/uploads/articles/{{articles.image}}" alt="{{articles.title}}">
        </div>
        <h1 class="mt-8 mb-5 text-center uppercase text-emerald-900 font-bold text-2xl w-full top-52">{{articles.title}}</h1>
        <div class="h-full w-full flex flex-col items-center px-6 pt-4">
                <div class="w-full bg-slate-200 rounded-md shadow-2xl p-5 md:w-10/12">
                    <div class="text-justify leading-loose indent-8">
                        {{articles.content}}
                    </div>
                    <div class="mt-2 text-sm text-end">Écrit par: {{articles.user}}</div><br/>
                    <div class="flex flex-col">
                        <span class="text-xs">Créé le: {{articles.createdAt|date("d/m/Y")}}</span>
                        <span class="text-xs">Modifié le: {{articles.updateAt|date("d/m/Y")}}</span>
                    </div>
                </div>
                
        </div>
    </div>
    
{% if app.user == articles.user %}
    <a href = "{{ path('articles_edit', {'slug': articles.slug}) }}">Modifier</a>
    <a href = "{{ path('articles_delete', {'slug': articles.slug}) }}">Supprimer</a>
{% endif %}

{% for commentaires in commentaires %}


{% if commentaires.articles.id == articles.id %}
    {{commentaires.content}}
{% endif %}

{% endfor %}

{{form(form)}}

{% endblock %}
