{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block body %}

    <div class="body-container">
        <div class="w-full h-52">
            <img class="h-full w-full" src="/uploads/articles/{{articles.image}}" alt="">
            <h1 class="flex items-center justify-center uppercase h-16 backdrop-blur-sm absolute top-48 text-emerald-900 font-bold text-2xl w-full">{{articles.title}}</h1>
        </div>
        <div class="container-content">
                <div class="w-full bg-slate-200 rounded-md shadow-2xl text-justify p-5">
                <p>
                    {{articles.content}}
                </p>
                <span>Écrit par: {{articles.user}}</span><br/>
                <span>Créé le: {{articles.createdAt|date("d/m/Y")}}</span><br/>
                <span>Modifié le: {{articles.updateAt|date("d/m/Y")}}</span>
                
                </div>
        </div>
    </div>
    
{% if app.user == articles.user %}
    <a href = "{{ path('articles_edit', {'slug': articles.slug}) }}">Modifier</a>
    <a href = "{{ path('articles_delete', {'slug': articles.slug}) }}">Supprimer</a>
{% endif %}

{% for commentaires in commentaires %}


{% if commentaires.articles.id == articles.id %}
    {{commentaires.content}}
{% endif %}

{% endfor %}

{{form(form)}}

{% endblock %}
