{% extends 'base.html.twig' %}

{% block title %}{{articles.title}} | Travel Stars{% endblock %}

{% block body %}

    <div class="flex flex-col w-full min-h-[62.5vh] mb-8">
        <div class="w-full h-64 md:h-72 lg:h-96 xl:h-[450px]">
            <img class="h-full w-full" src="/uploads/articles/{{articles.image}}" alt="{{articles.title}}">
        </div>
        <h1 class="mt-8 mb-5 text-center uppercase text-emerald-900 font-bold text-2xl w-full top-52">{{articles.title}}</h1>
        <div class="h-full w-full flex flex-col items-center px-6 pt-4">
            <div class="w-full bg-slate-200 rounded-md shadow-2xl p-5 md:w-10/12">
                <div class="text-justify leading-loose indent-8">
                    {{articles.content}}
                </div>
                <div class="mt-2 text-sm text-end">Écrit par: {{articles.user}}</div><br/>
                <div class="flex flex-col">
                    <span class="text-xs">Créé le: {{articles.createdAt|date("d/m/Y")}}</span>
                    <span class="text-xs">Modifié le: {{articles.updateAt|date("d/m/Y")}}</span>
                </div>
                <hr class="my-2 w-full border border-slate-500">
                <div class="flex justify-between text-sm px-4 mt-5">
                    <p id="Comment"><a href="#Comment"><i class="fa-regular fa-message"></i> Commentaire ({{articles.commentaires|length}})</a> </p>
                    {# <a href="#">partager</a> #}
                </div>
            </div>    
        </div>
    </div>
    
{# {% if app.user == articles.user %}
    <a href = "{{ path('articles_edit', {'slug': articles.slug}) }}">Modifier</a>
    <a href = "{{ path('articles_delete', {'slug': articles.slug}) }}">Supprimer</a>
{% endif %} #}

<div id="allComment" class="flex flex-col gap-0.5 w-full items-center" style="display:none;">
    {% for commentaires in commentaires %}
        {% if commentaires.articles.id == articles.id %}
            <div class="w-8/12 p-2 bg-white border border-gray-200 rounded-lg shadow">
                <div class="flex items-center space-x-2">
                    <img class="w-6 h-6 rounded-full" src="{{asset('assets/img/avatar.jpg')}}" alt="">
                    <div class="font-medium dark:text-white">
                        <div>{{commentaires.user.login}}</div>
                    </div>
                </div>
                <hr class=" my-3 w-full border-0.5 border-slate-300">
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{commentaires.content}}</p>
                {# <form method = "get">
                    <button id = "add_Rep" type = "button" name = "add_Rep" value = {{commentaires.id}}  class="inline-flex w-full items-center text-sm font-medium justify-end text-gray-700 rounded-lg underline">
                    Réponse
                    </button>
                </form>  #}
                {# <a href="#" class="inline-flex w-full items-center text-sm font-medium justify-end text-gray-700 rounded-lg underline">
                    Réponse
                </a> #}
            </div>
            
        {% endif %}
        
    {% endfor %}
    <div class="flex w-full justify-center mt-2">
        {{form_start(form, {'attr':{'class': 'pt-4 px-4 w-8/12 bg-white shadow-lg rounded-lg'}})}}
            {{form_row(form.content)}}
            {% if app.user %}
                {{form_row(form.submit)}}
                {{form_end(form)}}
            {% else %}
                <div class="flex p-2">
                    <a href="{{ path('app_login') }}" class="text-white bg-gradient-to-r from-emerald-700 via-emerald-800 to-emerald-900 hover:bg-gradient-to-l font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Connexion</a>
                </div>
            {% endif %}
        
    </div>
</div>

    {# <div id = "form_rep" class="flex w-full justify-center mt-8" style = "display: none">
        {{form(form_reponse)}}
    </div> #}
{% endblock %}


