{% extends 'base.html.twig' %}

{% block title %}Australie | Travel Stars{% endblock %}

{% block body %}
    <div class = "container mx-auto px-4 py-8">
        <h1 class = "text-5xl font-bold mb-8 text-center">Voyage en Australie</h1>
        <div class = "flex flex-col md:flex-row md:mb-12">
            <div class = "sm:w-1/2 sm:mr-8 mb-8">
                <img src="{{ asset('assets/img/australie/kangourou.jpg') }}" class = "w-full rounded-lg" />
                {# <img src="{{ asset('assets/img/australie/coucher_soleil_savane.jpg') }}" class = "w-full rounded-lg"/> #}
                <p class = "text-xs mt-2 italic">
                    Lucky Bay, Cape Le Grand National Park, Australie Occidentale © Australia's Golden Outback
                </p>
            </div>
            <div class = "sm:w-1/2  mb-10 xl:mt-12">
                <h2 class = "text-3xl font-bold mb-6">Bronzez avec les kangourous à Lucky Bay</h2>
                <p>
                    Difficile de faire plus australien que de s'allonger sur une plage de sable blanc à côté d'un kangourou. 
                    Les kangourous sont réputés pour prendre des bains de soleil réguliers sur certaines plages australiennes, dont Lucky Bay, la plus célèbre, 
                    dans le Cape Le Grand National Park en Australie Occidentale. Cette étendue de sable blanc et d'eau turquoise à Esperance est bien plus qu'un 
                    lieu paradisiaque où il fait bon bronzer sur sa serviette en compagnie d'un ou deux kangourous (n'oubliez pas votre appareil photo).
                </p>
            </div>
        </div>
        <div class = "flex flex-col md:flex-row md:mb-12">
            <div class = "sm:w-1/2 sm:mr-8 mb-8">
                <img src="{{ asset('assets/img/australie/centre_rouge.jpg') }}" class = "w-full rounded-lg" />
                {# <img src="{{ asset('assets/img/namibie/coucher_soleil_savane.jpg') }}" class = "w-full rounded-lg"/> #}
                <p class = "text-xs mt-2 italic">
                    Uluru Aboriginal Tours, Uluru-Kata Tjuta National Park, Territoire du Nord © Tourism Australia
                </p>
            </div>
            <div class = "sm:w-1/2 mb-10 xl:mt-12 ">
                <h2 class = "text-3xl font-bold mb-6">Découvrez l'histoire des premières nations dans le centre rouge</h2>
                <p>
                    Dans le Centre Rouge, vous découvrirez le cœur spirituel de l'Australie ; l'Uluṟu-Kata Tjuṯa National Park, un lieu imprégné de la culture aborigène. 
                    Yulara (Uluru) et les 36 dômes qui composent Kata Tjuta sont sacrés pour le peuple Anangu local, qui y vit depuis plus de 22 000 ans. 
                    Participez à une visite guidée aborigène pour en savoir plus sur le mode de vie traditionnel. Si vous visitez le site entre avril et mi-octobre, 
                    ne manquez pas Tali Wiru, une occasion rêvée de dîner sous les étoiles avec vue sur Uluru, en dégustant un menu composé d'ingrédients locaux et en 
                    écoutant des histoires du Temps du Rêve.
                </p>
            </div>
        </div>
         <div class = "flex flex-col md:flex-row md:mb-12">
            <div class = "sm:w-1/2 sm:mr-8 mb-8">
                <img src="{{ asset('assets/img/australie/lord_howe_island.jpg') }}" class = "w-full rounded-lg" />
                {# <img src="{{ asset('assets/img/namibie/coucher_soleil_savane.jpg') }}" class = "w-full rounded-lg"/> #}
                <p class = "text-xs mt-2 italic">
                    Lord Howe Island, Nouvelle-Galles du Sud © Destination NSW
                </p>
            </div>
            <div class = "sm:w-1/2 mb-10 xl:mt-12 ">
                <h2 class = "text-3xl font-bold mb-6">Visitez Lord Howe Island</h2>
                <p>
                    Si vous faites partie des 400 visiteurs autorisés à la fois sur Lord Howe Island, classée au patrimoine mondial, 
                    vous êtes assuré de trouver un coin de paradis paisible lors de votre visite. Située à moins de deux heures d'avion de Sydney et de Brisbane, 
                    cette île isolée est l'un des endroits les plus verts du monde. En effet, 75 % de la végétation naturelle originelle de l'île est toujours intacte,
                    ce qui favorise une géologie remarquable et un corail naturel, tout en permettant aux oiseaux, aux plantes et à la faune marine de s'épanouir pleinement 
                    dans ce paradis. Il s'agit d'une escale loin de la vie moderne et une partie assez incroyable de l'Australie qui ne demande qu'à être explorée.
                </p>
            </div>
        </div>
         <div class = "flex flex-col md:flex-row md:mb-12">
            <div class = "sm:w-1/2 sm:mr-8 mb-8">
                <img src="{{ asset('assets/img/australie/faune_marine.jpg') }}" class = "w-full rounded-lg" />
                {# <img src="{{ asset('assets/img/namibie/coucher_soleil_savane.jpg') }}" class = "w-full rounded-lg"/> #}
                <p class = "text-xs mt-2 italic">
                    Baignade avec les requins baleines, Ningaloo Reef, Australie Occidentale © Ningaloo Discovery
                </p>
            </div>
            <div class = "sm:w-1/2 mb-10 xl:mt-12 ">
                <h2 class = "text-3xl font-bold mb-6">Bronzez avec les kangourous à Lucky Bay</h2>
                <p>
                    Des requins baleines aux tortues, en passant par les lions de mer, l'occasion de nager avec la vie marine australienne est une expérience unique dans une vie. 
                    Voici quelques expériences à ne pas manquer et pour lesquelles il vaut mieux s'adresser à un voyagiste : nager avec des baleines à bosse dans le Queensland
                    (l'Australie fait partie des rares pays où vous pouvez nager avec ces créatures majestueuses), se retrouver nez à nez avec un requin baleine à Ningaloo Reef, 
                    site classé au patrimoine mondial de l'UNESCO, en Australie Occidentale, barboter avec d'adorables lions de mer en Australie du Sud et faire de la plongée avec
                    masque et tuba en compagnie de tortues dans le Queensland et la Nouvelle-Galles du Sud.


                </p>
            </div>
        </div>
    </div>
    

  
{% endblock %}
