{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="flex flex-col m-h-[62.5vh] w-full items-center px-4">
        <div class="mt-8 max-w-sm w-full p-4 bg-white border-gray-200 rounded-lg shadow sm:p-6 md:p-8">
            {% set i = 0 %}
            <div class="flex flex-col mt-2">
            {% for articles in app.user.articles %}           
                <div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">
                  <h2 id="accordion-flush-heading-{{i + 1}}">
                    <button type="button" class="flex items-center justify-between w-full py-5 font-bold text-lg text-left text-emerald-900 border-b border-gray-200" data-accordion-target="#accordion-flush-body-{{i + 1}}" aria-expanded="false" aria-controls="accordion-flush-body-{{i + 1}}">
                      <span>{{articles.title}}</span>
                      <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                  </h2>
                  <div id="accordion-flush-body-{{i + 1}}" class="hidden" aria-labelledby="accordion-flush-heading-{{i + 1}}">
                    <div class="py-5 font-light border-b border-gray-200 dark:border-gray-700">
                      <p class="mb-2 text-gray-500 dark:text-gray-400">{{articles.content}}</p>
                    </div>
                  </div>
                </div>
                <div class="flex gap-2 justify-end mt-2">
                    <a href = "{{ path('articles_edit', {'slug': articles.slug}) }}"><i class="fa-solid fa-gear text-gray-500"></i></a> |
                    <a href = "{{ path('articles_delete', {'slug': articles.slug}) }}"><i class="fa-solid fa-trash-can text-red-900"></i></a>
                </div>
                {% set i = i + 1 %}
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
